fieldset {
    border: none;
}
.evento{
    display: grid;
}

.data-info{
    display: flex;
    align-items: center;
}
.form{
    padding-bottom: 3rem;
}
.sublinhado {
    text-decoration: underline;
}
.cores{
    justify-content: space-between;
}
legend{
    font: var(--text-body);
    color: var(--text-body);
    margin-bottom: 1rem;
}

input, textarea,select{
    appearance: none;
    width: 100%;
    border-radius: 0.5rem;  
    border: 1px solid var(--input-base);

}